header {
	text-align: right;
	font-family:  'Oswald', sans-serif;
	word-spacing: 20px;
	text-decoration: none;
	font-size: 23px;
	margin: 0px;

}
h1 {
	font-size: 60px;
	font-family: 'DM Serif Display', serif;
	color: whitesmoke;
	font
}
body {
	background: url("https://i.pinimg.com/originals/9a/03/e3/9a03e3f1c3b41f916638c97538e96d1e.gif");
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.header {
	text-decoration: none;
	color: whitesmoke;
}
p {
	font-size: 35px;
	font-family: 'Playfair Display', serif;
	color: whitesmoke;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
	display: inline-block;
}
li a{
	display: block;
  	padding: 8px;
  	font-size: 20px;
  	text-decoration: none;
  	color: whitesmoke;
  	border-right: 1px solid #bbb;
}
li a:hover {
  background-color: darkgrey;
}
.fa-facebook {
	color: blue ;
	font-size: 40px;
	padding: 10px;
}
.fa-facebook:hover {
	background-color: grey;
	border-radius: 10px;
}
.fa-instagram {
	color: maroon;
	font-size: 40px;
	padding: 10px;
}
.fa-instagram:hover {
	background-color: grey;
	border-radius: 10px;
}
.fa-twitter {
	color: skyblue;
	font-size: 40px;
	padding: 10px;
}
.fa-twitter:hover {
	background-color: grey;
	border-radius: 10px;
}
.fa-envelope {
	color: red;
	font-size: 40px;
	padding: 10px;
}
.fa-envelope:hover {
	background-color: grey;
	border-radius: 10px;
}
